.container {
    width: 100vw;
    background-color: rgb(245, 246, 246);
    display: flex;
    flex-direction: column;
    background-position: center center, bottom right;

    .logo {
        background-color: rgb(52, 50, 50);
        height: 3rem;
        width: 10rem;
        margin: 2rem;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .ul_Class {
        display: flex;
        flex-direction: column;

        li {
            margin: 1rem 1rem 1rem 0;
            font-size: medium;
            font-weight: bold;
            font-variant: small-caps;
            font-family: sans-serif;

            a {
                color: black;
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .container2 {
        display: flex;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.694);

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }

    }
}

.details {
    margin-left: 5rem;
    font-weight: bold;
    font-style: italic;

    div {
        margin-bottom: 1rem;
    }

    span {
        margin-left: 1rem;
    }
}